/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body{
	box-sizing: border-box;
	background-image: url(../images/mian-bg2.gif);
	background-repeat: repeat;
    height: 788px;

}
html, body, .body{
	height: 100%;
}
/*sidebar*/
.sidebar{
	width: 208px;
	background-color: #000;
	position: fixed;
	bottom: 0;
	top: 0;	
	height: 100%;
}
.sidebar--logo{
	/*position: fixed;*/
}
.sidebar--menu{
	
}
.sidebar--menu img{
	padding: 0 35px;
}
#img--padding{
	padding-top: 40px;
}
/*menu*/
.right{
	position: absolute;
	right: 0;
	left: 208px;
}
.menu{
	background-color: #e3e3e3;
	height: 40px;
	line-height: 40px;
}
#menu--text-red{
	color: red;
	padding-left: 20px;
}
.menu a{
	text-decoration: none;
	color: #000;
}
/*content*/
.setup{
	width: 517px;
	height: 305px;
	background-image: url(../images/login-bg.gif);
	padding: 10px 50px;
	margin: 60px 80px;
}
.setup img{
	margin-top: 10px;
}